

<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <form class="form-inline">
             <input style="width:100%;" class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" (change)="busca($event)">
           </form>
           <br>
             <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Filtrar</label>
                </div>
                <select class="custom-select">
                  <option >Aprobada</option>
                  <option >Pendiente</option>
                  <option >Cancelada</option>
                  <option selected>Todo</option>
                </select>
              </div>
        </div>

      </div>
      <div class="list-group">
        <a  class="list-group-item list-group-item-action flex-column align-items-start pointer" *ngFor="let depto of lista;let ind=index;" [ngClass]="{'active': depto==activo}" (click)="activar(depto)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{depto.numero}}</h5>
            <small>{{depto.tipo}}</small>
          </div>
          <p class="mb-1">{{depto.titulo}}</p>
          <small>{{depto.estado}}</small>
        </a>
      </div>
    </div>
    <div class="col-8">
      <div *ngIf="alerta" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>info!</strong> {{alerta}}
        <button type="button" class="close" (click)="disaler()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Pagos</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row mt-3">
              <div class="col">
                <p class="lead">Departamento</p>
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Codigo</th>
                      <th scope="col">123</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Llegada</th>
                      <td>12/09/2018</td>
                    </tr>
                    <tr>
                      <th scope="row">Salida</th>
                      <td>12/09/2018</td>
                    </tr>
                    <tr>
                      <th scope="row">Huespedes</th>
                      <td>4</td>
                    </tr>
                    <tr>
                      <th scope="row">Costo</th>
                      <td>$4</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2">
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-success">Confirmar</button>
                          <button type="button" class="btn btn-danger">Cancelar</button>
                          <button type="button" class="btn btn-dark">Notificar</button>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
            <div class="row mt-3">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    Pagos
                    <button type="button" class="btn btn-outline-info btn-sm float-right" name="button"><i class="fas fa-plus"></i></button>
                  </div>
                </div>
                <div class="list-group">
                  <a  class="list-group-item list-group-item-action flex-column align-items-start pointer" >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"></h5>
                      <small><button type="button" class="btn btn-outline-danger btn-sm float-right" name="button"><i class="far fa-trash-alt"></i></button></small>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<button class="fabs fab-assertive"><i class="fa fa-plus"></i></button>

<div class="modal fade" id="modalPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ubicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-6">
              <label for="">Calle</label>
              <input type="text" name="calle" class="form-control form-control-sm" value="">
            </div>
            <div class="col-3">
              <label for="">Nº Interior</label>
              <input type="text" name="interior" class="form-control form-control-sm" value="">
            </div>
            <div class="col-3">
              <label for="">Nº Exterior</label>
              <input type="text" name="exterior" class="form-control form-control-sm" value="">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
