<div class="modal-header" id="modal1">
  <h5 class="modal-title">Registrate</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="text-align: center;">
  <form (ngSubmit)="onSubmit( f )" #f="ngForm" >

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="user.nombre" name="nombre" placeholder="Nombre" required>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="user.apellidop" name="apellidop" placeholder="ApellidoPaterno" required>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="user.apellidom" name="apellidom" placeholder="ApellidoMaterno" required>
    </div>

     <div class="form-group">
       <input type="text" class="form-control" [(ngModel)]="user.telefono" name="telefono" placeholder="Telefono" required>
     </div>

     <div class="form-group">
       <span *ngIf="f.submitted && f.controls['correo'].errors"> El correo es obligatorio </span>
         <input type="email" #correo="ngModel" class="form-control" [(ngModel)]="user.correo" name="correo" placeholder="Correo Electronico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
          <span *ngIf="correo.errors?.pattern"> Introduce un correo valido </span>
     </div>

     <div class="form-group">
        <span *ngIf="f.submitted && f.controls['password'].errors" class="animated fadeIn"> La contraseña es obligatoria </span>
       <input type="text" #password="ngModel" class="form-control" [(ngModel)]="user.password" name="password" id="validation" placeholder="Contraseña" pattern="^(?=(?:.*\d){2})(?=(?:.*[A-Z]){2})(?=(?:.*[a-z]){2})\S{8,}$" required>
           <span *ngIf="password.errors?.pattern">Por lo menos 8 caracteres entre mayúsculas, minúsculas y números.</span>
     </div>

 {{this.mensaje}}
     <div class="form-group">
       <input type="text" class="form-control" id="validation" [(ngModel)]="pass" name="pass" placeholder="Confirmar Contraseña" required>
        <!-- <span *ngIf="pass.errors?">contraseña iguales</span> -->
     </div>

     <div style="text-align: left;">
       <div class="flex-sb-m w-full p-t-3 p-b-24">
         <div class="contact100-form-checkbox">
           <input type="checkbox" [(ngModel)]="recordar" id="ckb1" class="input-checkbox100" name="recuerdame" value="">
           <label for="ckb1" class="label-checkbox100">
           Recordar Usuario
           </label>
         </div>
       </div>
     </div>

     <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" [(ngModel)]="user.politicas" name="politicas" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Al registrame Acepto el uso de la informacion que Alam.mx pone a su disposición</label>
    </div>
    <div>
      <div class="enter">
      <table>
    <tr>
       <td><a (click)="Facebook()">
       <i class="fab fa-facebook redSocial facebookColor"></i></a></td>

       <td><a (click)="Gmail()">
       <i class="fab fa-google redSocial googleColor"></i></a> </td>
  </tr>
    </table>
      </div>

<div class="left">
  <button  [disabled]="!f.valid" type="submit" [disabled]="loading" class="btn btn-primary" (click)="registrar()" (click)="comprobar()"  (click)="nuev()" (click)="limpiar()"> Guardar </button>
</div>
    </div>
  </form>
</div>
