/* .ng-invalid.ng-touched:not(form)
{
  border: 1px solid red;
} */


.banner
{
  background-image: url('../../../assets/images/tarde2.jpg');
  background-origin: content-box;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
  padding-top: 70px;
}
.form
{
	top: 10%;
	left: 35%;
	position: absolute;
}

.banner2
{
  background-image: url('../../../assets/images/tarde2.jpg');
  background-origin: content-box;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  padding-top: 70px;
}

.enter {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

ul{
  text-decoration: none;
  text-align: left;
}

ul li{
  text-decoration-style: dashed;
  list-style: none;
}

ul li a{
  color: white;
}
ul li a:hover{
  color:gray;
}

			.redSocial{
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 30px;
			}

			.facebookBlanco{
				color:white;
			}
			.facebookNegro{
				color:black;
			}
			.facebookColor{
				color: white;
				background: #46639f;
			}

			.youtubeBlanco{
				color:white;
			}
			.youtubeNegro{
				color:black;
			}
			.youtubeColor{
				color: white;
				background: #d6513e;
			}

			.twitterBlanco{
				color:white;
			}
			.twitterNegro{
				color:black;
			}
			.twitterColor{
				color: white;
				background: #0ab2e6;
			}


			.googleBlanco{
				color:white;
			}
			.googleNegro{
				color:black;
			}
			.googleColor{
				color: white;
				background: #d71617;
			}


			.histagramBlanco{
				color:white;
			}
			.histagramNegro{
				color:black;
			}
			.histagramColor{
				color: white;
				background: linear-gradient(45deg, #fca925, #ee1d5f, #6350a2);
			}
