/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.pointer{
  cursor: pointer;
  color:#333;
}

img.imgc{
  height: 260px !important;
  width: 100% !important;
}

.fabs {
  display: inline-block;
  position: fixed;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
/*  line-height: 60px;*/
  text-align: center;
  font-size: 32px;
  z-index: 9999;
  background: #eee;
  color: #336699;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  transition: 0.2s opacity ease-in-out;
  -webkit-transition: 0.2s opacity ease-in-out;
  border: 0;
  overflow: hidden;bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.chat-container{
	width: 100%;
	margin: 0;
	padding: 0;
	max-width: 340px;
	height: auto;
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 999;
}


.chat-button{
	width: 100%;
	margin: 0;
	cursor: pointer;
	user-select: none;
	padding: 4px 0;
	background-color: #337AB7;
	text-aling: center;
	color: #fff;
}

.chat-content{
	margin: 0;
	padding: 0;
	display: none;
	background-color: #fff;
}

  .fabs.fab-assertive {
  color: #fff;
  background: #00C6FF; }

.fabs:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: #aaa;
  border-radius: 100%;
  opacity: .6;
  transform: scale(0); }
