<div class="modal-header" align="center">
  <h5 class="modal-title">{{titulo}}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" style="text-align: center;">
  <div align="center">
          <img src="../../../assets/images/Logo.jpg" style="width:50%;height:50%;">
  </div>

  <form (ngSubmit)="onSubmit( f )" #f="ngForm">

    <div class="form-group">
      <span *ngIf="f.submitted && f.controls['correo'].errors"> El correo es obligatorio </span>
        <input type="email" #correo="ngModel" class="form-control" [(ngModel)]="user.correo" name="correo" placeholder="Correo Electronico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
         <span *ngIf="correo.errors?.pattern"> Introduce un correo valido </span>
    </div>


    <div class="form-group">
      <input type="passaword" class="form-control" [(ngModel)]="user.password" name="password" id="exampleInputPassword1" placeholder="Contraseña" required="">
    </div>
        <button type="submit" class="btn btn-outline-primary" (click)="normal()"> Acceder </button>
<!-- <div>
  <a class="nav-link pointer" *ngIf="modal" data-toggle="modal" data-target=".modal" (click)="mdl(true)">¿No tienes cuenta?</a>
</div> -->

<!-- <div>
  <a class="nav-link pointer" data-toggle="modal" data-target=".modal" (click)="mdl(false)">Acceder</a>
</div> -->
<div>
  <a class="nav-link pointer" data-toggle="modal" data-target=".modal" (click)="mod(true)" >¿No tienes cuenta?</a>
</div>

<div style="text-align: left;">
  <div class="flex-sb-m w-full p-t-3 p-b-24">
    <div class="contact100-form-checkbox">
      <input type="checkbox" class="input-checkbox100" name="recuerdame" value="">
      <label for="ckb1" class="label-checkbox100">
      Recuerdame
      </label>
    </div>
  </div>
</div>
</form>


  <p>También puedes continuar con facebook y Gmail, seguro sencillo y rapido.</p>
   <div class="enter">
   <table>
 <tr>
    <td><a (click)="Facebook()">
    <i class="fab fa-facebook redSocial facebookColor"></i></a></td>

    <td><a (click)="Gmail()">
    <i class="fab fa-google redSocial googleColor"></i></a> </td>
 </tr>
 </table>
   </div>
</div>
