<div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-3">
      <form  ngNativeValidate class="form-inline mt-3">

          <mat-form-field class="mr-1">
          <input matInput [matDatepicker]="picker" placeholder="Llegada" [(ngModel)]="llegada" name="llegada" (blur)="calculaCosto()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="mr-1">
        <input matInput [matDatepicker]="pickers" placeholder="Salida" [(ngModel)]="salida" name="salida" (blur)="calculaCosto()">
        <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
        <mat-datepicker #pickers></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width mr-1">
        <input type="number" matInput #person maxlength="2" placeholder="Personas" [(ngModel)]="huesped" name="huesped" (blur)="calculaCosto()">
      </mat-form-field>
      <!-- <input class="btn btn-outline-secondary" type="submit" value="Buscar"> -->
      </form>
        {{this.msj}}
    </div>
  </div>
  <div class="row">
    <div class="col-6 mt-3 data">
      <div id="carousel{{depto.id}}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let foto of depto.fotos;let in=index;" [ngClass]="{'active': foto.portada=='Si'}">
            <img class="d-block foto" src="{{foto.ruta}}" alt="">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel{{depto.id}}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel{{depto.id}}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="col-6 data">
      <div class="card mt-3">
        <div class="card-header">
          <h5 class="card-title">{{depto.titulo}}  <strong class="float-right">{{depto.precio | currency}} <span>Por noche</span> </strong> </h5>
        </div>
        <div class="card-body">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item" title="Habitaciones"><i class="fas fa-door-open"></i> {{depto.habitaciones}}</li>
            <li class="nav-item" title="Camas"><i class="fas fa-bed"></i> {{depto.camas}}</li>
            <li class="nav-item" title="Baños"><i class="fas fa-bath"></i> {{depto.banios}}</li>
            <li class="nav-item" title="Capacidad"><i class="fas fa-users"></i> {{depto.capacidad}}</li>
          </ul>
          <br>
          <p>{{depto.descripcion}}</p>
        </div>
        <div class="card-footer">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Costo Total: {{total | currency}}</li>
          </ul>
        </div>
      </div>
      <br>
      <button *ngIf="total>0" type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">Reservar</button>
    </div>

  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Métodos de Pago</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-deck">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Pagar con Paypal</h5>
                <p class="card-text">Al usar pago con paypal se cobrará la comisión por el uso de este servicio.</p>
                <a href="#" class="btn btn-primary">Pagar con Paypal</a>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Deposito o Transferencia</h5>
                <p class="card-text">Solicita la información bancaria para realizar el pago</p>
                <a href="#" class="btn btn-primary">Solicitar Información</a>

              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Reservar por Airbnb</h5>
                <p class="card-text">Si deseas puedes realizar tu reservación mediante Airbnb.</p>
                <a href="#" class="btn btn-primary">Ir a Airbnb</a>

              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <p>No olvides revisar nuestras politicas de cancelación y reembolsos</p>
      </div>
    </div>
  </div>
</div>
