<div class="pie text-center">
  <div class="row wow pulse" data-wow-duration="2s">
    <div class="col-12">
      <h1>Entérate de todas las novedades</h1>
      <p>Te mantenemos al día con nuevas propiedades a la venta, renta o traspaso</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <form class="form-inline">
          <input type="email" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Introduce tu correo">
          <button type="submit" class="btn btn-warning mb-2">Subscribirme</button>
        </form>
    </div>
  </div>

  <div class="row">
    <div class="col-3 wow rubberBand" data-wow-duration="3s">
      <h5>Contacto</h5>
      <ul>
        <li>Fragata Yucatán 210</li>
        <li>Fracc. Costa Azul 39850</li>
        <li>Acapulco de Juárez</li>
        <li>Guerrero</li>
        <li>(744)-188-20-02</li>
      </ul>
    </div>
    <div class="col-3">
      <h5>Departamento</h5>
      <ul>
        <li>Alojamiento</li>
        <li>Ventas</li>
      </ul>
    </div>

    <div class="col-3">
      <h5>Mapa</h5>
         <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.5994884287843!2d-99.85133235530337!3d16.846213801723966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ca59c952cc39bd%3A0xb169b54677adcb0d!2sNuevo+Condominio+la+Palapa!5e0!3m2!1ses-419!2smx!4v1560362698313!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0" allowfullscreen target="_blank">
         <i class="fas fa-globe-americas facebookBlanco"></i></a>
    </div>

    <div class="col-3 wow slideOutUp" data-wow-duration="3s" align="center">
      <h5>Redes Sociales</h5>
      <div class="col-3" aling="center">
      <table>
    <tr>
       <td><a href="http://facebook.com/" target="_blank">
       <i class="fab fa-facebook redSocial facebookBlanco"></i></a></td>

       <td><a href="http://instagram.com/" target="_blank">
       <i class="fab fa-instagram redSocial histagramBlanco"></i></a></td>

       <td><a href="http://google.com/" target="_blank">
       <i class="fab fa-google redSocial googleBlanco"></i></a> </td>

       <td> <a href="http://twitter.com/" target="_blank">
       <i class="fab fa-twitter redSocial twitterBlanco"></i></a> </td>
    </tr>
</table>
      </div>
    </div>

    <!-- Load Facebook SDK for JavaScript -->
    <!-- <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v3.3'
        });
      };

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> -->

    <!-- Your customer chat code -->
    <!-- <div class="fb-customerchat"
      attribution=setup_tool
      page_id="828215620564901"
      theme_color="#0084ff"
      logged_in_greeting="Hola ¿En que te puedo ayudar?"
      logged_out_greeting="Hola ¿En que te puedo ayudar?">
    </div> -->

  </div>
</div>
