<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-12 mt-3 wow bounceInRight" data-wow-duration="3s">
      <form (ngSubmit)="buscar()" ngNativeValidate class="form-inline mt-3">
          <mat-form-field class="mr-1">
          <input matInput [matDatepicker]="picker" placeholder="Llegada" [(ngModel)]="llegada" name="llegada">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="mr-1">
        <input matInput [matDatepicker]="pickers" placeholder="Salida" [(ngModel)]="salida" name="salida">
        <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
        <mat-datepicker #pickers></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width mr-1">
        <input type="number" matInput  maxlength="2" placeholder="Personas" [(ngModel)]="huesped" name="huesped">
      </mat-form-field>
      <input class="btn btn-outline-secondary" type="submit" value="Buscar">
      </form>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-12">
      <h4>Un departamento para cada ocasión</h4>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-12">
      <div class="card-columns">
        <div class="card" *ngFor="let depto of deptoSer.alojamiento">
          <div id="carousel-{{depto.id}}" class="carousel slide carousel-fade" data-ride="false" data-wrap="false">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let foto of depto.fotos;let in=index;" [ngClass]="{'active': in==0}">
                <img class="d-block imgc" src="{{foto.ruta}}" alt="">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-{{depto.id}}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-{{depto.id}}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{depto.titulo}}</h5>
            <p class="card-text">{{depto.precio | currency}}.</p>
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item" title="Habitaciones"><i class="fas fa-door-open"></i> {{depto.habitaciones}}</li>
              <li class="nav-item" title="Camas"><i class="fas fa-bed"></i> {{depto.camas}}</li>
              <li class="nav-item" title="Baños"><i class="fas fa-bath"></i> {{depto.banios}}</li>
              <li class="nav-item" title="Capacidad"><i class="fas fa-users"></i> {{depto.capacidad}}</li>
            </ul>
          </div>
          <div class="card-footer">
            <small class="text-muted">Piso: {{depto.numero}}</small>
            <a  class="card-link float-right pointer" (click)="irdepto(depto)">Reservar</a>
            <!-- [routerLink]="['/depto']" -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
