

<div class="container mt-4">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <form class="form-inline">
             <input style="width:100%;" class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" (change)="busca($event)">
           </form>
           <br>
           <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Renta" (click)="vers('Renta')">
               <label class="form-check-label" for="exampleRadios1">
                 Renta
               </label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Venta" (click)="vers('Venta')">
               <label class="form-check-label" for="exampleRadios2">
                 Venta
               </label>
             </div>
             <div class="form-check form-check-inline">
               <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Todo" checked (click)="vers('Todo')">
               <label class="form-check-label" for="exampleRadios3">
                 Todo
               </label>
             </div>
        </div>

      </div>
      <div class="list-group">
        <a  class="list-group-item list-group-item-action flex-column align-items-start pointer" *ngFor="let depto of lista;let ind=index;" [ngClass]="{'active': depto==activo}" (click)="activar(depto)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{depto.numero}}</h5>
            <small>{{depto.tipo}}</small>
          </div>
          <p class="mb-1">{{depto.titulo}}</p>
          <small>{{depto.estado}}</small>
        </a>
      </div>
    </div>
    <div class="col-8">
      <div *ngIf="alerta" class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>info!</strong> {{alerta}}
        <button type="button" class="close" (click)="disaler()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Generales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="false">Detalle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="imgs-tab" data-toggle="tab" href="#imgs" role="tab" aria-controls="imgs" aria-selected="false">Imagenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="precios-tab" data-toggle="tab" href="#precios" role="tab" aria-controls="precios" aria-selected="false">Informativo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="gasto-tab" data-toggle="tab" href="#gasto" role="tab" aria-controls="gasto" aria-selected="false">Otros</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row mt-3">
              <div class="col">
                <form>
                  <div class="row">
                    <div class="col">
                      <label for="">Titulo</label>
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="activo.titulo" name="titulo" (blur)="cambia('titulo',$event)">
                    </div>
                    <div class="col">
                      <label for="">Nombre interno</label>
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="activo.nombre" name="nombre" (blur)="cambia('nombre',$event)">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <label>Tipo</label>
                      <select class="form-control form-control-sm" [(ngModel)]="activo.tipo" name="tipo" (blur)="cambia('tipo',$event)">
                        <option>Renta</option>
                        <option>Venta</option>
                      </select>
                    </div>
                    <div class="col">
                      <label>Zona</label>
                      <select class="form-control form-control-sm" [(ngModel)]="activo.zona" name="zona" (blur)="cambia('zona',$event)">
                        <option>Dorada</option>
                        <option>Diamante</option>
                        <option>Tradicional</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="">Huespedes</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.capacidad" name="capacidad" (blur)="cambia('capacidad',$event)">
                    </div>
                    <div class="col">
                      <label for="">Medida</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.medida" name="medida" (blur)="cambia('medida',$event)">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <label for="">Habitaciones</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.habitaciones" name="habitaciones" (blur)="cambia('habitaciones',$event)">
                    </div>
                    <div class="col">
                      <label for="">Camas</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.camas" name="camas" (blur)="cambia('camas',$event)">
                    </div>
                    <div class="col">
                      <label for="">Baños</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.banios" name="banios" (blur)="cambia('banios',$event)">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <label for="">Descripción</label>
                      <textarea class="form-control form-control-sm"  rows="3" cols="80" [(ngModel)]="activo.descripcion" name="descripcion" (blur)="cambia('descripcion',$event)"></textarea>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <h5>Ubicación</h5>
                <hr>
                <form>
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control form-control-sm" placeholder="Direccion" data-toggle="modal" data-target="#modalDir">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="services" role="tabpanel" aria-labelledby="services-tab">
            <div class="row mt-3">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    Servicios
                    <button type="button" class="btn btn-outline-info btn-sm float-right" name="button"><i class="fas fa-plus"></i></button>
                  </div>
                </div>
                <div class="list-group">
                  <a  class="list-group-item list-group-item-action flex-column align-items-start pointer" *ngFor="let servicio of activo.servicios;let ind=index;">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{servicio.servicio}}</h5>
                      <small><button type="button" class="btn btn-outline-danger btn-sm float-right" name="button"><i class="far fa-trash-alt"></i></button></small>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    Inventario
                    <button type="button" class="btn btn-outline-info btn-sm float-right" name="button"><i class="fas fa-plus"></i></button>
                  </div>
                </div>
                <div class="list-group">
                  <a  class="list-group-item list-group-item-action flex-column align-items-start pointer" *ngFor="let det of activo.inventario;let ind=index;" >
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{det.nombre}}</h5>
                      <small>{{det.cantidad}}</small>
                    </div>
                    <p class="mb-1">{{det.observaciones}}</p>
                    <small>{{det.estado}}</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="imgs" role="tabpanel" aria-labelledby="imgs-tab">
            <div class="row">
              <div class="col">
                <div class="card-columns">
                    <div class="card" *ngFor="let foto of activo.fotos">
                      <img class="card-img-top" src="{{foto.ruta}}" alt="Card image cap">
                      <div class="card-body">
                        <a href="#" class="btn btn-primary">Portada</a>
                        <button type="button" class="btn btn-outline-danger btn-sm float-right" name="button"><i class="far fa-trash-alt"></i></button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane  fade mt-3" id="precios" role="tabpanel" aria-labelledby="precios-tab">
            <h5>Precios</h5>
            <div class="row">
              <div class="col text-right">
                <button type="btn btn-primary" data-toggle="modal" data-target="#prec">
                  <i class="fa fa-plus"></i>
                  Agregar
                </button>
              </div>
            </div>
            <table class="table mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Personas</th>
      <th scope="col">Baja</th>
      <th scope="col">Media</th>
      <th scope="col">Alta</th>
      <th scope="col">Mes</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
      <!-- <td *ngIf="pre.temporada=='Alta'">{{pre.costo}}</td> -->
  <tbody>
    <tr *ngFor="let pre of activo.preper;let inp=index">
    <th scope="row">{{pre.personas}}</th>
    <td>{{(pre.temporada=='Baja')?pre.costo:0}}</td>
    <td>{{(pre.temporada=='Media')?pre.costo:0}}</td>
    <td>{{(pre.temporada=='Alta')?pre.costo:0}}</td>
    <td>{{(pre.temporada=='Mes')?pre.costo:0}}</td>
    <td>
        <button class="btn btn-info" data-toggle="modal" data-target="#PrecAct" (click)="editar(inp)">
          <i class="fa fa-pen"></i>
        </button>
        <button class="btn btn-danger" data-toggle="modal" (click)="borrar(inp)">
          <i class="fa fa-trash"></i>
        </button>
    </td>
    </tr>
  </tbody>
</table>
<!--
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>   -->
            <!-- <div class="grid">
              <div class="row">
                <div class="col">
                  <label for="">Personas</label>
                </div>
                <div class="col">
                  <label for="">Baja</label>
                </div>
                <div class="col">
                  <label for="">Media</label>
                </div>
                <div class="col">
                  <label for="">Alta</label>
                </div>
                <div class="col">
                  <label for="">Mes</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">1</label>
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">2</label>
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">3</label>
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">4</label>
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="">5</label>
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
                <div class="col">
                  <input class="form-control" type="number" name="baja" value="" placeholder="Costo Base">
                </div>
              </div>
            </div> -->
            <!-- <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Precio Base</span>
              </div>
              <input type="text" class="form-control" aria-describedby="basic-addon1" [(ngModel)]="activo.precio" name="precio" (blur)="cambia('precio',$event)">
            </div>
            <div class="clearfix">

            </div>
            <hr>
              <div class="row mt-3 mb-3">
                <div class="col">
                  <form>
                    <div class="row" *ngFor="let pre of activo.preper;let inp=index">
                      <div class="col">
                        <label for="">Para {{pre.personas}} persona {{pre.costo}}</label>
                      </div>
                      <div class="col">
                        <input type="number" class="form-control form-control-sm" (blur)="cambiapre(pre,$event,inp)">
                      </div>
                    </div>
                  </form>
                </div>
              </div> -->


              <div class="row mt-3">
                <div class="col">
                  <form>
                    <div class="row">
                      <div class="col">
                        <label for="">Contacto</label>
                        <select class="form-control form-control-sm" [(ngModel)]="activo.inmobiliaria" name="inmobiliaria">
                          <option value="">Sin Seleccion</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="">Propietario</label>
                        <select class="form-control form-control-sm" [(ngModel)]="activo.propietario" name="propietario">
                          <option value="">Sin Seleccion</option>
                        </select>
                      </div><form>
                  <div class="row">
                    <div class="col">
                      <label for="">Titulo</label>
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="activo.titulo" name="titulo" (blur)="cambia('titulo',$event)">
                    </div>
                    <div class="col">
                      <label for="">Nombre interno</label>
                      <input type="text" class="form-control form-control-sm" [(ngModel)]="activo.nombre" name="nombre" (blur)="cambia('nombre',$event)">
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">
                      <label>Tipo</label>
                      <select class="form-control form-control-sm" [(ngModel)]="activo.tipo" name="tipo" (blur)="cambia('tipo',$event)">
                        <option>Renta</option>
                        <option>Venta</option>
                      </select>
                    </div>
                    <div class="col">
                      <label>Zona</label>
                      <select class="form-control form-control-sm" [(ngModel)]="activo.zona" name="zona" (blur)="cambia('zona',$event)">
                        <option>Dorada</option>
                        <option>Diamante</option>
                        <option>Tradicional</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="">Huespedes</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.capacidad" name="capacidad" (blur)="cambia('capacidad',$event)">
                    </div>
                    <div class="col">
                      <label for="">Medida</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.medida" name="medida" (blur)="cambia('medida',$event)">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <label for="">Habitaciones</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.habitaciones" name="habitaciones" (blur)="cambia('habitaciones',$event)">
                    </div>
                    <div class="col">
                      <label for="">Camas</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.camas" name="camas" (blur)="cambia('camas',$event)">
                    </div>
                    <div class="col">
                      <label for="">Baños</label>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="activo.banios" name="banios" (blur)="cambia('banios',$event)">
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col">
                      <label for="">Descripción</label>
                      <textarea class="form-control form-control-sm"  rows="3" cols="80" [(ngModel)]="activo.descripcion" name="descripcion" (blur)="cambia('descripcion',$event)"></textarea>
                    </div>
                  </div>
                </form>
                    </div>
                    <div class="row mt-3">
                      <div class="col">
                        <label for="">Llaves</label>
                        <select class="form-control form-control-sm" name="">
                          <option>Sin Seleccion</option>
                          <option>Disponibles en la oficina</option>
                          <option>Disponibles en la propiedad</option>
                          <option>Sólo con cita</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="">Clave Catastral</label>
                        <input type="text" class="form-control form-control-sm">
                      </div>
                      <div class="col">
                        <label for="">Comisión</label>
                        <input type="text" class="form-control form-control-sm">
                      </div>
                      <div class="col">
                        <label for="">Publicar</label>
                        <select class="form-control form-control-sm"  [(ngModel)]="activo.publicar" name="publicar" (blur)="cambia('publicar',$event)">
                          <option value="1">Si</option>
                          <option value="0">No</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="gasto" role="tabpanel" aria-labelledby="gasto-tab">
            <div class="row">
              <div class="col">
                Gastos
              </div>
              <div class="col">
                Actividades
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<button class="fabs fab-assertive"><i class="fa fa-plus"></i></button>

<div class="modal fade" id="modalDir" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ubicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-6">
              <label for="">Calle</label>
              <input type="text" name="calle" class="form-control form-control-sm" value="">
            </div>
            <div class="col-3">
              <label for="">Nº Interior</label>
              <input type="text" name="interior" class="form-control form-control-sm" value="">
            </div>
            <div class="col-3">
              <label for="">Nº Exterior</label>
              <input type="text" name="exterior" class="form-control form-control-sm" value="">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Colonia</label>
              <input type="text" name="colonia" class="form-control form-control-sm" value="">
            </div>
            <div class="col">
              <label for="">Código Postal</label>
              <input type="text" name="cp" class="form-control form-control-sm" value="">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Municipio</label>
              <input type="text" name="municipio" class="form-control form-control-sm" value="">
            </div>
            <div class="col">
              <label for="">Ciudad</label>
              <input type="text" name="ciudad" class="form-control form-control-sm" value="">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="">Estado</label>
              <input type="text" name="estado" class="form-control form-control-sm" value="">
            </div>
            <div class="col">
              <label for="">País</label>
              <input type="text" name="pais" class="form-control form-control-sm" value="">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="prec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <font color="blue">Agregar Costo</font></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">

        <form (ngSubmit)="( f )" #f="ngForm">

          <div class="form-row">

            <!-- <span *ngIf="f.submitted && f.controls['personas'].errors"
            class="textbgcol"></span>

            <span *ngIf="f.submitted && f.controls['temporada'].errors"
            class="text-danger"> </span>

            <span *ngIf="f.submitted && f.controls['costo'].errors"
            class="text-danger"> </span> -->

            <div class="form-group col-md-6">
                  <label for=""> Personas</label>
              <input type="number" class="form-control" id="inputCity" [(ngModel)]="activo.personas" name="personas" required personas>
            </div>

            <div class="form-group col-md-6">
              <label for=""> Temporada</label>
              <select id="inputState" class="form-control" [(ngModel)]="activo.temporada" name="temporada" required temporada>
                <option>Baja</option>
                <option>Media</option>
                <option>Alta</option>
                <option>Mes</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for=""> Precios</label>
              <input type="number" class="form-control" id="inputZip" [(ngModel)]="activo.costo" name="costo" required costo>
            </div>
          </div>
              <input type="submit" [disabled]="!f.valid" [disabled]="loading" class="btn btn-primary" (click)="AgregarPersona()" value="Guardar">
      </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="PrecAct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <font color="blue">Actualizar Costo</font></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center;">

        <form>

          <div class="form-row">
<!--
            <span *ngIf="f.submitted && f.controls['personas'].errors"
            class="textbgcol"> El numero de persona es obligatorio </span>

            <span *ngIf="f.submitted && f.controls['temporada'].errors"
            class="text-danger"> El numero de persona es obligatorio </span>

            <span *ngIf="f.submitted && f.controls['costo'].errors"
            class="text-danger"> El numero de persona es obligatorio </span> -->

            <div class="form-group col-md-6">
                  <label for=""> Personas</label>
              <input type="number" class="form-control" id="inputCity" [(ngModel)]="precioAct.personas" name="personas" value="" required>
            </div>

            <div class="form-group col-md-6">
              <label for=""> Temporada</label>
              <select id="inputState" class="form-control" [(ngModel)]="precioAct.temporada" name="temporada" required>
                <option>Baja</option>
                <option>Media</option>
                <option>Alta</option>
                <option>Mes</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for=""> Precios</label>
              <input type="number" class="form-control" id="inputZip" [(ngModel)]="precioAct.costo" name="costo" required>
            </div>
          </div>
              <button type="submit" class="btn btn-primary" (click)="ActualizarPersona()"> Guardar </button>
      </form>
      </div>
    </div>
  </div>
</div>
