<nav class="navbar navbar-light fixed-top bgtrans mb-4" id="menu" (window:scroll)="onElementScroll($event)">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="../../../assets/images/Logo.jpg" width="40" height="40" alt="">
             Alam
  </a>
  <ul class="nav justify-content-end" >
    <li class="nav-item">
      <a class="nav-link active pointer" [routerLink]="['/alojamiento']">Alojamiento</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pointer" [routerLink]="['/ventas']">Propiedades en Venta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pointer" [routerLink]="['/alojamiento']">Tienda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pointer">Conoce Acapulco</a>
    </li>
      <li class="nav-item" *ngIf="!menu()">
        <a class="nav-link pointer" data-toggle="modal" data-target=".modal" (click)="mdl(true)"> {{this.valido}} </a>
      </li>

      <li class="nav-item" *ngIf="!menu()">
        <a class="nav-link pointer" data-toggle="modal" data-target=".modal" (click)="mdl(false)"> {{this.validos}} </a>
      </li>

     <li class="nav-item dropdown" >
       <div id="dropdownMenuButton" data-toggle="dropdown">
          {{this.acces.mensajes}}
       </div>
     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
       <a class="dropdown-item" href="#">Perfil</a>
       <a class="dropdown-item" href="">Salir</a>
     </div>
     </li>
  </ul>
</nav>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <app-register *ngIf="modal"></app-register>
      <app-login *ngIf="!modal" [titulo]="'Ventana de Acceso'" (accion)="realizar($event)"></app-login>

    </div>
  </div>
</div>
