<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-12 mt-3">
      <!-- <form class="form-inline">
         <input style="width:100%;" class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" (change)="busca($event)">
       </form> -->
      <form (ngSubmit)="buscar()" ngNativeValidate class="form-inline mt-3">
        <!-- <mat-form-field class="mr-1">
          <input matInput [matDatepicker]="picker" placeholder="Llegada" [(ngModel)]="llegada" name="llegada">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="mr-1">
          <select  placeholder="Select">
            <option value="option">Option</option>
          </select>
      </mat-form-field>

      <mat-form-field class="example-full-width mr-1">
        <input type="number" matInput placeholder="Precio Maximo" [(ngModel)]="precio" name="precio">
      </mat-form-field> -->
      <!-- <select class="form-control form-control-sm" [(ngModel)]="activo.zona" name="zona" (blur)="cambia('zona',$event)"> -->

      <div class="form-row wow bounceInRight" data-wow-duration="3s">
        <div class="form-group col-md-8">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" [(ngModel)]="zona" name="zona" value="Dorada" (click)="casos('Dorada')">
            <label class="form-check-label" for="exampleRadios1">
              Dorada
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [(ngModel)]="zona" name="zona" value="Diamante" (click)="casos('Diamante')">
            <label class="form-check-label" for="exampleRadios2">
              Diamante
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [(ngModel)]="zona" name="zona" value="Tradicional" (click)="casos('Tradicional')">
            <label class="form-check-label" for="exampleRadios2">
              Tradicional
            </label>
          </div>
          </div>

   <div class="form-group col-md-4">
     <mat-form-field >
       <input type="number" matInput placeholder="Precio Maximo" [(ngModel)]="precio" name="precio">
     </mat-form-field>
   </div>
 </div>
      </form>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-12">
      <h4>El departamento de tu vida</h4>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-12">
      <div class="card-columns">
        <div class="card" *ngFor="let depto of deptoSer.ventas">
          <div id="carousel-{{depto.id}}" class="carousel slide carousel-fade" data-ride="false" data-wrap="false">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let foto of depto.fotos;let in=index;" [ngClass]="{'active': in==0}">
                <img class="d-block imgc" src="{{foto.ruta}}" alt="">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-{{depto.id}}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-{{depto.id}}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{depto.titulo}}</h5>
            <p class="card-text">{{depto.precio | currency}}.</p>
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item" title="Habitaciones"><i class="fas fa-door-open"></i> {{depto.habitaciones}}</li>
              <li class="nav-item" title="Camas"><i class="fas fa-bed"></i> {{depto.camas}}</li>
              <li class="nav-item" title="Baños"><i class="fas fa-bath"></i> {{depto.banios}}</li>
              <li class="nav-item" title="Capacidad"><i class="fas fa-users"></i> {{depto.capacidad}}</li>
            </ul>
          </div>
          <div class="card-footer">
            <small class="text-muted">Piso: {{depto.numero}}</small>
            <a class="card-link float-right pointer"  (click)="irdepto(depto)">Agendar Cita</a>
              <!-- <a  class="card-link float-right pointer" (click)="irdepto(depto)">Reservar</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
