<div class="banner" id="test" >
  <div class="container">
    <div class="row" >
      <div class="col-12">
        <div class="card wow bounceInRight" data-wow-duration="4s" style="width: 18rem;">
            <!-- <img class="card-img-top" src=".../100px180/?text=Image cap" alt="Card image cap"> -->
            <div class="card-body">
              <h5 class="card-title">Reservar</h5>
              <p class="card-text">Configura tu reservación</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Llegada" [(ngModel)]="desde" name="desde">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              </li>
              <li class="list-group-item">
                <mat-form-field>
                <input matInput [matDatepicker]="pickers" placeholder="Salida" [(ngModel)]="hasta" name="hasta">
                <mat-datepicker-toggle matSuffix [for]="pickers"></mat-datepicker-toggle>
                <mat-datepicker #pickers></mat-datepicker>
              </mat-form-field>
              </li>
              <li class="list-group-item">
                <mat-form-field class="example-full-width">
                  <input type="number" matInput #person maxlength="2" placeholder="Personas" [(ngModel)]="huesped" name="huesped">
                </mat-form-field>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="btn btn-primary btn-block float-right" [routerLink]="['/alojamiento']" (click)="disponibilidad()">Buscar Disponibilidad</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


<div class="container" >
  <!-- Suites -->
  <div class="row mt-3">
    <div class="col-12">
      <nav aria-label="breadcrumb" >
        <ol class="breadcrumb" style="background-color:transparent !important;">
          <li class="breadcrumb-item active">Home</li>
          <li class="breadcrumb-item " aria-current="page"><a [routerLink]="['/alojamiento']">Alojamiento</a></li>
        </ol>
      </nav>
        <p>Te ofrecemos un departamento para cada ocasión, Luna de miel, Vacaciones en familia, Juntas laborales, etc.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
          <div class="card" *ngFor="let depto of deptoSer.hoy">
            <div id="carousel{{depto.id}}" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let foto of depto.fotos;let in=index;" [ngClass]="{'active': foto.portada=='Si'}">
                  <img class="d-block imgc" src="{{foto.ruta}}" alt="">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel{{depto.id}}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel{{depto.id}}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{depto.titulo}}</h5>
              <p class="card-text">{{depto.precio | currency}}.</p>
              <ul class="nav nav-pills nav-fill">
                <li class="nav-item" title="Habitaciones"><i class="fas fa-door-open"></i> {{depto.habitaciones}}</li>
                <li class="nav-item" title="Camas"><i class="fas fa-bed"></i> {{depto.camas}}</li>
                <li class="nav-item" title="Baños"><i class="fas fa-bath"></i> {{depto.banios}}</li>
                <li class="nav-item" title="Capacidad"><i class="fas fa-users"></i> {{depto.capacidad}}</li>
              </ul>
              <br>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{depto.numero}}</small>
              <a [routerLink]="['/depto']" class="card-link float-right" (click)="irdepto(depto)">Reservar</a>
            </div>
          </div>
        </div>
    </div>
  </div>

  <!-- suites en venta -->
  <div class="row mt-3">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color:transparent !important;">
          <li class="breadcrumb-item active">Home</li>
          <li class="breadcrumb-item " aria-current="page"><a href="#">Propiedades en Venta</a></li>
        </ol>
      </nav>
      <p>Visitar acapulco es una experiencia maravillosa, pero vivirlo es sin igual.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card-deck">
        <div class="card" *ngFor="let depto of ventas">
          <div id="carousel{{depto.id}}" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let foto of depto.fotos;let in=index" [ngClass]="{'active': in==0}">
                <img class="d-block imgc" src="{{foto.ruta}}" alt="">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel{{depto.id}}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel{{depto.id}}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{depto.titulo}}</h5>
            <p class="card-text">{{depto.precio | currency}}.</p>
            <p>{{depto.descripcion}}</p>
            <a href="#" class="card-link">Solicitar Cita</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{depto.numero}}</small>
          </div>
        </div>
        </div>
    </div>
  </div>

  <!-- productos en venta -->
  <!-- <div class="row mt-3">
      <div class="col-12">
        <nav aria-label="breadcrumb" >
          <ol class="breadcrumb" style="background-color:transparent !important;">
            <li class="breadcrumb-item active">Home</li>
            <li class="breadcrumb-item " aria-current="page"><a href="#">Tienda</a></li>
          </ol>
        </nav>
        <p>Te ofrecemos un departamento para cada ocasión, Luna de miel, Vacaciones en familia, Juntas laborales, etc.</p>
      </div>
    </div> -->
  <!-- <div class="row">
      <div class="col-12">
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="../../../assets/images/tarde2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Vacaciones en familia</h5>
                <p class="card-text">Las suite cuenta con los siguientes servicios.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../assets/images/tarde2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Luna de miel</h5>
                <p class="card-text">La suite cuenta con.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../../assets/images/tarde2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Juntas de Trabajo</h5>
                <p class="card-text">La suite cuenta con</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
      </div>
    </div> -->

  <!-- Lugares para  visitar -->
  <!-- <div class="row mt-3">
    <div class="col-12">
      <nav aria-label="breadcrumb" >
        <ol class="breadcrumb" style="background-color:transparent !important;">
          <li class="breadcrumb-item ">Home</li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Lugares para visitar</a></li>
        </ol>
      </nav>
      <p>Ademas de las hermosas playas acapulco te ofrece diversos lugares culturales y de diversión para visitar.</p>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-12">
      <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/tarde2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Magico mundo marino</h5>
              <p class="card-text">Ven en familia y diviertete.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/tarde2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cocodrilario</h5>
              <p class="card-text">Tomate una selfie con el cocodrilo mas famoso del mundo.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../../assets/images/tarde2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Museo Fuerte de san diego</h5>
              <p class="card-text">Ven y conoce esta maravilloso obra</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
    </div>
  </div> -->

</div>
