.banner
{
  background-image: url('../../../assets/images/tarde2.jpg');
  background-origin: content-box;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  padding-top: 70px;
}

.banner2
{
  background-origin: content-box;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: 100%;
  padding-top: 70px;
}
.form
{
	font-family:aller;
	font-weight: 10px;
	width: 100px;
	height: 600px;
	padding: 25px;
	padding-top: 70px;
	background-color:white;
	top: 35%;
	left: 88%;
	position: absolute;
	margin-left: -175px;
	margin-top: -175px;
	border-radius: 5px;
}
.ventana{
	width: 100%;
	height: 100%;
	color:black;
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	display: none;
	z-index: 100;
}
